<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.run.ui">

    <application>
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.PhotoViewActivity" />
        <activity android:name=".activity.WebPhotoActivity" />
        <activity
            android:name=".activity.VedioDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullAppTheme" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="com.run.ui.login.happyheadline.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".login.MobileLoginActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".login.BindPhoneActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.EditPersionActivity" />
        <activity android:name=".activity.ModifyNumberActivity" />
        <activity android:name=".activity.FeedBackActivity" />
        <activity android:name=".activity.ContentDetailActivity" />
        <activity android:name=".activity.ProblemActivity" />
        <activity android:name=".activity.CollectListActivity" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.MessageListActivity" />
        <activity
            android:name=".activity.MyWalletActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.WithDrawBillActivity" />
        <activity android:name=".activity.ApprenticeListActivity" />
        <activity
            android:name=".activity.WithDrawActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.BindWCActivity" />
        <activity android:name=".activity.WithDrawResultActivity" />
        <activity android:name=".activity.InviteActivity" />
        <activity android:name=".activity.FaceInviteActivity" />
        <activity android:name=".activity.TaskCenterActivity"></activity>
    </application>

</manifest>